.App{
    /* margin: 0; */
    padding: 51px;
    /* width: 100vw; */
    min-height: 100vh;
    background-color: black;
    --tw-gradient-from: #1c1917;
    --tw-gradient-stops: var(--tw-gradient-from),var(--tw-gradient-to,rgba(28,25,23,0));
    --tw-gradient-to: #0f172a;
    background-image: linear-gradient(to bottom right,var(--tw-gradient-stops));
}
.title{
    text-align: center;
    color: white;
    font-weight: 700;
    font-size: 70px;
    margin: 45px;
    font-family: Inter,sans-serif;
}